<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckPoint</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles.css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    referrerpolicy="no-referrer" 
/>
</head>
<body>
    
<header class=" <%= (title == "Home" || title == "Login" || title == "Register") ? "centered" : "" %>">
    <h1 href="/">CheckPoint</h1>
    <% if (title !== "Home" && title !== "Login" && title !== "Register") { %>
    <form action="/search" method="GET">
        <div id="search-container">
        <input
        name="query"
        type="search"
        id="search"
        placeholder="Search games..."
        autocomplete="off"
        value="<%= typeof query !== 'undefined' ? query : '' %>"
        onfocus="this.value=''"
        >
            <button id="search-btn" type="submit" >
                <i class="fa-solid fa-magnifying-glass fa-rotate-90 search-btn"></i>
            </button>
        </div>
    </form>
    <div class="account-container">
        <p class="account-name"><%= user?.username || 'Account' %></p>
        <img src="/assets/<%= user?.profilePicture || 'account logo.png' %>" alt="Account Logo" class="account-logo"> 
    </div>
     <div class="account-dropdown">
        <ul>
            <li><a href="/profile" role="menuitem">Profile</a></li>
            <li><a href="/wishlist" role="menuitem">Wishlist</a></li>
            <li><a href="/settings" role="menuitem">Settings</a></li>
            <li><a href="/logout" role="menuitem">Logout</a></li>
        </ul>
    </div>

    <% } %>
    <% if (title == "Home") { %>
        <div class="home-links">
            <a href="login">Login</a>
            <a href="register">Register</a>
        </div>
    <% } %>

    <script>
    // Dropdown menu functionality
    const accountContainer = document.querySelector('.account-container');
    const dropdown = document.querySelector('.account-dropdown');
    accountContainer.addEventListener('click', function() {
        dropdown.style.opacity = dropdown.style.opacity === '1' ? '0' : '1';
    });
        // Close dropdown when clicking outside
    document.addEventListener('click', function(event) {
        if (!accountContainer.contains(event.target) && !dropdown.contains(event.target)) {
            dropdown.style.opacity = '0';
        }
    });
    document.addEventListener('keydown', function(event) {
        if (event.key === "Escape") {
            dropdown.style.opacity = '0';
        }
    });
    </script>

</header>